$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);
$verified-graduate: hsla(0, 0%, 100%, 50%);
$review-paragraphs: hsla(0, 0%, 100%, 70%);
$citation: hsl(215, 6%, 40%);
// DEFINIZIONE DELLE VARIABILI PER I COLORI

$font-family-barlow: "Barlow Semi Condensed", sans-serif;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-style-normal: normal;
$font-size: 13px;
// DEFINIZIONE DELLE VARIABILI PER IL TIPO DI CARATTERE E LO STILE DEL FONT

.barlow-semi-condensed-medium {
  font-family: $font-family-barlow;
  font-weight: $font-weight-medium;
  font-style: $font-style-normal;
}
// CLASSE PER IL FONT SEMI-CONDENSATO DI PESO MEDIO

.barlow-semi-condensed-semibold {
  font-family: $font-family-barlow;
  font-weight: $font-weight-semibold;
  font-style: $font-style-normal;
}
// CLASSE PER IL FONT SEMI-CONDENSATO DI PESO SEMIBOLD

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// RESET GLOBALE PER MARGINI, PADDING E BOX-SIZING

body {
  font-size: $font-size;
  font-family: $font-family-barlow;
  background-color: $light-gray;

  main {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      column-gap: 28px;
      row-gap: 23px;
      max-width: 1440px;
      margin: 165px auto;
    }
  }

  footer {
    .attribution {
      font-size: 11px;
      text-align: center;
      a {
        color: hsl(228, 45%, 44%);
      }
    }
  }
}
// LAYOUT PER DESKTOP

@media (max-width: 768px) {
  body {
    main {
      .container {
        margin: 72px auto;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        column-gap: 24px;
        row-gap: 23px;
        padding: 0 20px;
      }
    }
  }
}
/* MEDIA QUERY PER DISPOSITIVI MOBILI CON LARGHEZZA MASSIMA DI 768PX */
